# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv_old/
.venv/

# Vector database storage
.chroma/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# generated indexes / local data
data/whoosh_index/
*.toc
*.seg


recall-frontend/node_modules/


**/node_modules/